<% if product.inventory_count > 0 %>
    <p class="in-stock">In stock: <%= product.inventory_count %></p>
<% else %>
    <p class="out-of-stock">Out of stock</p>
    <%= form_with model: [product, Subscriber.new], html: { class: "subscribe-form" } do |form| %>
        <%= form.email_field :email, placeholder: "Enter your email address", required: true, class: "form-control" %>
        <%= form.submit "Subscribe", class: "btn btn-secondary" %>
    <% end %>
<% end %>