<% if product.inventory_count > 0 %>
    <p>In stock: <%= product.inventory_count %></p>
<% else %>
    <p>Out of stock</p>
    <%= form_with model: [product, Subscriber.new] do |form| %>
        <%= form.email_field :email, placeholder: "Enter your email address", required: true %>
        <%= form.submit "Subscribe" %>
    <% end %>
<% end %>