<h1><%= t ".title" %></h1>

<div id="product-form">
    <%= link_to "New Product", new_product_path if authenticated? %>

    <% @products.each do |product| %>   
        <div>
            <p><%= link_to product.name, product %> <%= product.created_at %></p>
        </div>
    <% end %>
</div>