<h1 class="products-title"><%= t ".title" %></h1>

<div id="product-form">
    <%= link_to "New Product", new_product_path, class: "btn btn-primary" if authenticated? %>

    <div class="product-list">
      <% @products.each do |product| %>   
          <div class="product-list-item">
              <p><%= link_to product.name, product, class: "product-link" %> <span class="product-date"><%= product.created_at %></span></p>
          </div>
      <% end %>
    </div>
</div>