<h1>Create new Products</h1>

<div id="products" class="products-container">
    <%= link_to "Product List", products_path, class: "btn btn-link" %>
    
    <%= render "form", product: @product %>
</div>